:root {
  --yellow: #f2b137;
  --yellow-highlight: #ffc860;
  --yellow-dim: #cc8b13;
  --blue: #31c3bd;
  --blue-highlight: #65e9e4;
  --blue-dim: #118c87;
  --navy: #1a2a33;
  --navy-highlight: #1f3641;
  --navy-dim: #10212a;
  --silver: #a8bfc9;
  --silver-highlight: #dbe8ed;
  --silver-dim: #6b8997;
  --silver-transparent: #a8bfc90d;
}
