:root {
  --color-1: #f2b137;
  --color-1-highlight: #ffc860;
  --color-2: #31c3bd;
  --color-2-highlight: #65e9e4;
  --color-3: #a8bfc9;
  --color-3-highlight: #dbe8ed;
  --color-4: #1a2a33;
  --color-4-highlight: #1f3641;
}
