.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;

  &.x {
    color: var(--blue);
  }

  &.o {
    color: var(--yellow);
  }

  &Cell {
    border: none;
    border-radius: var(--border-radius-m);
    padding: 1.5rem 1.75rem 2rem;
    background: var(--navy-highlight);

    @include box(var(--navy-dim), 0.5rem);

    &.x {
      color: var(--blue);
    }

    &.o {
      color: var(--yellow);
    }

    .icon {
      @include icon(2.5rem);

      &.preview {
        visibility: hidden;
        opacity: 0;
        transition:
          visibility 0.25s ease-out,
          opacity 0.25s ease-out;
      }
    }

    &[aria-disabled="true"] {
      cursor: not-allowed;
    }

    &[aria-disabled="false"] {
      &:hover,
      &:focus {
        .icon.preview {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
